<html>
    <head>
        <title>PingPong</title>
    </head>
    <body>
        <h1>Ping pong test</h1>
        <form action = '/print_pong' method ='get'>
            <label for 'number'>Enter a number</label>
            <input id = 'number' name = 'number' type ='number'>
            <button type ='submit'>Try it!</button>
        </form>
    </body>
</html>
